<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  NC Vocals Directory is currently a listing of the Contemporary A cappella group in the central North Carolina region.
</p>
<p>
	We are currently only adding groups that fall under the style "Contemporary A Cappella" but hope to one day include vocal groups of other styles.  If you are a member of a contemporary A Cappella group in NC and are not in this directory, please send an email to feldmannst@gmail.com and we will be happy to add you!
</p>