<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  To view all Groups currently listed in our system, click on "Groups" in the top navigation bar, or <%= link_to "click here", "#" %>.

  If you have any other questions, please contact Scott at feldmannst@gmail.com!
</p>