<div class="center hero-unit">
	<h1>Welcome to NC Vocals!</h1>

	<h2>
		This is the home page for the NC Vocal Directory, a listing of all contemporary a cappella groups in the central North Carolina region
	</h2>
</div>